{include file="common/head"/}
<div class="admin-main layui-anim layui-anim-upbit">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>{$title}</legend>
    </fieldset>
    <form class="layui-form layui-form-pane" lay-filter="form">
        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('version')}</label>
            <div class="layui-input-4">
                <input type="text" name="version" value="3.0" class="layui-input" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('cert_sn')}</label>
            <div class="layui-input-4">
                <input type="text" name="cert_sn" value="{$system.cert_sn}" class="layui-input" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('mch_id')}</label>
            <div class="layui-input-4">
                <input type="text" name="mch_id" value="{$system.mch_id}" class="layui-input" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('nonce_str')}</label>
            <div class="layui-input-3">
                <input type="text" name="nonce_str" id="nonce_str" value="" class="layui-input" disabled>
            </div>
            <div class="layui-inline">
                <button type="button" class="layui-btn" lay-submit lay-filter="random_str">生成{:lang('nonce_str')}<button>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('sign_type')}</label>
            <div class="layui-input-3">
                <input type="text" name="sign_type" value="HMAC-SHA256" class="layui-input" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('business_code')}</label>
            <div class="layui-input-3">
                <input type="text" name="business_code" id="business_code" value="" class="layui-input" disabled>
            </div>
            <div class="layui-inline">
                <button type="button" class="layui-btn" lay-submit lay-filter="business_code">生成{:lang('business_code')}<button>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('id_card_copy')}</label>
            <input type="hidden" name="id_card_copy" id="id_card_copy">
            <div class="layui-input-block">
                <div class="layui-upload">
                    <button type="button" class="layui-btn layui-btn-primary" id="adBtn"><i class="icon icon-upload3"></i>点击上传</button>
                    <div class="layui-upload-list">
                        <img class="layui-upload-img" id="adPicid_card_copy">
                        <p id="demoText"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('id_card_national')}</label>
            <input type="hidden" name="id_card_national" id="id_card_national">
            <div class="layui-input-block">
                <div class="layui-upload">
                    <button type="button" class="layui-btn layui-btn-primary" id="adBtnnational"><i class="icon icon-upload3"></i>点击上传</button>
                    <div class="layui-upload-list">
                        <img class="layui-upload-img" id="adPicid_card_national">
                        <p id="demoText"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('id_card_name')}</label>
            <div class="layui-input-4">
                <input type="text" name="id_card_name" id="id_card_name" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('id_card_number')}</label>
            <div class="layui-input-4">
                <input type="text" name="id_card_number" id="id_card_number" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('id_card_valid_time')}</label>
            <div class="layui-input-4">
                <input type="text" name="id_card_valid_time" id="id_card_valid_time" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('account_name')}</label>
            <div class="layui-input-4">
                <input type="text" name="account_name" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('account_bank')}</label>
            <div class="layui-input-4">
                <input type="text" name="account_bank" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('bank_address_code')}</label>
            <div class="layui-input-4">
                <input type="text" name="bank_address_code" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('bank_name')}</label>
            <div class="layui-input-4">
                <input type="text" name="bank_name" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('account_number')}</label>
            <div class="layui-input-4">
                <input type="text" name="account_number" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('store_name')}</label>
            <div class="layui-input-4">
                <input type="text" name="store_name" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('store_address_code')}</label>
            <div class="layui-input-4">
                <input type="text" name="store_address_code" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('store_street')}</label>
            <div class="layui-input-4">
                <input type="text" name="store_street" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('store_longitude')}</label>
            <div class="layui-input-4">
                <input type="text" name="store_longitude" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('store_latitude')}</label>
            <div class="layui-input-4">
                <input type="text" name="store_latitude" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('store_entrance_pic')}</label>
            <input type="hidden" name="store_entrance_pic" id="store_entrance_pic">
            <div class="layui-input-block">
                <div class="layui-upload">
                    <button type="button" class="layui-btn layui-btn-primary" id="adBtnstore_entrance_pic"><i class="icon icon-upload3"></i>点击上传</button>
                    <div class="layui-upload-list">
                        <img class="layui-upload-img" id="adPicstore_entrance_pic">
                        <p id="demoText"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('indoor_pic')}</label>
            <input type="hidden" name="indoor_pic" id="indoor_pic">
            <div class="layui-input-block">
                <div class="layui-upload">
                    <button type="button" class="layui-btn layui-btn-primary" id="adBtnindoor_pic"><i class="icon icon-upload3"></i>点击上传</button>
                    <div class="layui-upload-list">
                        <img class="layui-upload-img" id="adPicindoor_pic">
                        <p id="demoText"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('address_certification')}</label>
            <div class="layui-input-4">
                <input type="text" name="address_certification" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('merchant_shortname')}</label>
            <div class="layui-input-4">
                <input type="text" name="merchant_shortname" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('service_phone')}</label>
            <div class="layui-input-4">
                <input type="text" name="service_phone" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('product_desc')}</label>
            <div class="layui-input-4">
                <input type="text" name="product_desc" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('rate')}</label>
            <div class="layui-input-4">
                <input type="number" name="rate" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('business_addition_desc')}</label>
            <div class="layui-input-4">
                <input type="text" name="business_addition_desc" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('business_addition_pics')}</label>
            <div class="layui-input-4">
                <input type="text" name="business_addition_pics" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('contact')}</label>
            <div class="layui-input-4">
                <input type="text" name="contact" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('contact_phone')}</label>
            <div class="layui-input-4">
                <input type="text" name="contact_phone" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('contact_email')}</label>
            <div class="layui-input-4">
                <input type="text" name="contact_email" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">{:lang('submit')}</button>
                <a href="{:url('index')}" class="layui-btn layui-btn-primary">{:lang('back')}</a>
            </div>
        </div>
    </form>
</div>
{include file="common/foot"/}
<script>
    layui.use(['form', 'layer','upload'], function () {
        var form = layui.form, layer = layui.layer,$= layui.jquery,upload = layui.upload;
        form.on('submit(submit)', function (data) {
            loading =layer.load(1, {shade: [0.1,'#fff']});
            $.post("{:url('bussinAdd')}", data.field, function (res) {
                layer.close(loading);
                if (res.code > 0) {
                    layer.msg(res.msg, {time: 1800, icon: 1}, function () {
                        location.href = res.url;
                    });
                } else {
                    layer.msg(res.msg, {time: 1800, icon: 2});
                }
            });
        });

        //生成申请编号
        form.on('submit(business_code)', function (data) {
            loading =layer.load(1, {shade: [0.1,'#fff']});
            $.post("{:url('createBusinessCode')}", data.field, function (res) {
                layer.close(loading);
                if (res.code > 0) {
                    layer.msg(res.msg, {time: 1000, icon: 1}, function () {
                        $('#business_code').val(res.osn);
                    });
                } else {
                    layer.msg(res.msg, {time: 1800, icon: 2});
                }
            });
        });

        //生成随机字符串
        form.on('submit(random_str)', function (data) {
            loading =layer.load(1, {shade: [0.1,'#fff']});
            $.post("{:url('random_str')}", data.field, function (res) {
                layer.close(loading);
                if (res.code > 0) {
                    layer.msg(res.msg, {time: 1000, icon: 1}, function () {
                        $('#nonce_str').val(res.str);
                    });
                } else {
                    layer.msg(res.msg, {time: 1800, icon: 2});
                }
            });
        });



        //普通图片上传
        var uploadInst = upload.render({
            elem: '#adBtn'
            ,url: '{:url("upload")}'
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#adPicid_card_copy').attr('src', result); //图片链接（base64）
                });
            },
            done: function(res){
                if(res.code>0){
                    $('#id_card_copy').val(res.url);
                }else{
                    //如果上传失败
                    return layer.msg('上传失败');
                }
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });

        //普通图片上传
        var uploadInst = upload.render({
            elem: '#adBtnnational'
            ,url: '{:url("upload")}'
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#adPicid_card_national').attr('src', result); //图片链接（base64）
                });
            },
            done: function(res){
                if(res.code>0){
                    $('#id_card_national').val(res.url);
                }else{
                    //如果上传失败
                    return layer.msg('上传失败');
                }
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });

        //普通图片上传
        var uploadInst = upload.render({
            elem: '#adBtnstore_entrance_pic'
            ,url: '{:url("upload")}'
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#adPicstore_entrance_pic').attr('src', result); //图片链接（base64）
                });
            },
            done: function(res){
                if(res.code>0){
                    $('#store_entrance_pic').val(res.url);
                }else{
                    //如果上传失败
                    return layer.msg('上传失败');
                }
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });

        //普通图片上传
        var uploadInst = upload.render({
            elem: '#adBtnindoor_pic'
            ,url: '{:url("upload")}'
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#adPicindoor_pic').attr('src', result); //图片链接（base64）
                });
            },
            done: function(res){
                if(res.code>0){
                    $('#indoor_pic').val(res.url);
                }else{
                    //如果上传失败
                    return layer.msg('上传失败');
                }
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });
    });
</script>