{include file="common/header"/}

  <fieldset class="layui-elem-field layui-field-title">
      <legend>income</legend>
  </fieldset>
  <table class="layui-table" id="list" lay-filter="list">
      <table class="layui-table">
        <colgroup>
          <col width="150">
          <col width="200">
          <col>
        </colgroup>
        <thead>
          <tr>
            <th>price</th>
            <th>time</th>
            <th>type</th>
          </tr> 
        </thead>
        <tbody>
          <tr>
            <td>$14</td>
            <td>2020-03-25</td>
            <td style="color:red">income</td>
          </tr>
          <tr>
            <td>$12</td>
            <td>2020-03-26</td>
            <td style="color:green">outcome</td>
          </tr>
          <tr>
            <td>$8</td>
            <td>2020-03-27</td>
            <td style="color:red">income</td>
          </tr>
          <tr>
            <td>$57</td>
            <td>2020-03-28</td>
            <td style="color:green">outcome</td>
          </tr>
          <tr>
            <td>$80</td>
            <td>2020-03-29</td>
            <td style="color:red">income</td>
          </tr>
          <tr>
            <td>$5</td>
            <td>2020-03-30</td>
            <td style="color:green">outcome</td>
          </tr>
          <tr>
            <td>$87</td>
            <td>2020-03-31</td>
            <td style="color:red">income</td>
          </tr>
          <tr>
            <td>$52</td>
            <td>2020-04-01</td>
            <td style="color:green">outcome</td>
          </tr>
        </tbody>
      </table>
  </table>
{include file="common/footer"/}